
body{
    background-color: rgba(0, 0, 0, 0.3);
}

.section-juros{
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #000;
}

.section-juros h2{
    text-align: center;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.form label{
    font-weight: bold;
    margin: 15px 0 5px 0;
}

.form input,
.form select {
    padding: 5px;
    color: rgba(0, 0, 0, 0.9);
}

.form div button{
    padding: 4px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 0 2px;
    color: #000;
    transition: 1s;
}

button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.section-juros .resultado{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    padding: 10px;
}

.resultado .titulo-resultado{
    text-align: center;
    padding: 15px;
    color: white;
}

.resultado div{
    width: 100%;
    background-color: white;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.resultado label{
    font-size: 12px;
}


.resultado p{
    font-weight: bold;
}

#valor-total-final{
    color: green;
}

#valor-total-juros{
    color: red;
}